@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', OpenSans, sans-serif;
	background-color: #fafbfd;
	touch-action: pan-x pan-y;
}

main {
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.login-forgot {
	padding-top: 3px !important;
}

.logo-overlay {
	position: absolute;
	z-index: 9999;
	top: 25px;
	left: 60px;
}

.auth-button {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
}

.coverimage {
	object-fit: contain;
}

.indepthColor {
	stroke: aqua;
}

.h-content {
	height: 94vh;
	padding-bottom: 2em;
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
	.h-content {
		height: 93.5vh;
		padding-bottom: 10vh;
	}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.h-content {
		height: 93.5vh;
		padding-bottom: 10vh;
	}
}
@media screen and (min-width: 0px) and (max-width: 400px) {
	.h-content {
		height: 97vh;
		/* padding-bottom: 10vh; */
	}
}
@media screen and (min-width: 401px) and (max-width: 800px) {
	.h-content {
		height: 97vh;
		/* padding-bottom: 10vh; */
	}
}

/* Hide scrollbar for Chrome, Safari, Opera */
.no-scrolly::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrolly {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	overflow: -moz-scrollbars-none; /* Firefox */
	overflow: hidden; /* Hide scrollbar for other browsers */
}

.carousel-container {
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: hidden; /* Hide vertical scrollbar */
}

.error-font {
	font-size: 8rem;
}

.btnAnim {
	box-shadow: 1px 2px 3px #cecece;
}

.btnAnim:active {
	box-shadow: 0px 0px 0px #cecece;
	transform: translateY(4px);
}
.appFullHeight {
	height: 100vh;
}

.appSideBarHeight {
	height: 95vh;
}

tr:nth-child(even) {
	background-color: #e2e2e26b;
}

@media print {
	.pdf-container {
		display: none;
		text-align: 'center';
		width: '100%';
	}
}

/* @font-face {
	font-family: 'Helvetica';
	src: url('./font/Helvetica.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-Bold';
	src: url('./font/Helvetica-Bold.ttf');
	font-weight: 800;
	font-style: normal;
} */

#text-decoration:hover {
	text-decoration: underline 2px solid rgb(214, 243, 121);
}
